.border_bottom
	border-bottom $border
.border_primary
	border-color $primary !important

.border-main
	border-width  6px
	border-style solid
	border-color $gray-standart
.border_10
		border-width 10px
@media(max-width: 767.98px)
	.border_top_sm
		border-top $border
	.border_10_sm
		border-width 10px
	.border_primary_sm
		border-color $primary
