.docs
  &__title
    margin-bottom 45px
    text-align left !important
  &__list
    margin 0
    padding 0
    list-style none
  &__item
    margin-bottom 10px
  &__link
    color $gray-darker
    font-weight 600
    text-decoration underline
    &_img
      &:hover
        opacity 0.85

@media (min-width 992px)
  .docs
    &__title
      margin-left 0 !important