.i
	font-size 15px
	height 15px
	line-height 1
	text-decoration none
	display inline-block
	vertical-align middle
	&_dim
		color $gray-light
	&_hover
		&:hover
			text-shadow: 0px 0px 1.5px black
.i_fs_xs
	font-size 6px
	height 6px
.i_size_small
	font-size 10px
	height 10px

.i_size_11
	font-size: 11px
	height: 11px

.i_size_12
	font-size 12px
	height 12px
.i_size_14
	font-size: 14px
	height 14px
.i_size_15
	font-size: 15px
	height 15px
.i_size_16
	font-size 16px
	height 16px
.i_size_18
.i_fs_md
	font-size 18px
	height 18px
.i_size_20
	font-size 20px
	height 20px
.i_size_22
	font-size 22px
	height 22px
.i_size_24
	font-size 24px
	height 24px
.i_size_medium
	font-size 25px
	height 25px
.i_size_26
	font-size 26px
	height 26px
.i_size_28
	font-size 28px
	height 28px
.i_size_30
	font-size 30px
	height 30px
.i_size_36
	font-size 36px
	height 36px
.i_size_40
	font-size 40px
	height 40px
.i_size_45
	font-size: 45px
	height: 45px
.i_size_50
	font-size: 50px
	height: 50px
.i_size_large
	font-size 50px
	height 50px
.i_size_55
	font-size 55px
	height 55px
.i_size_60
	font-size: 60px
	height: 60px
.i_size_64
	font-size: 64px
	height: 64px
.i_size_80
	font-size 80px
	height 80px
.i_size_100
	font-size 100px
	height 100px
.i_size_128
	font-size 128px
	height 128px

@media (max-width 767.98px)
	.i_size_sm_75
		font-size 75px
		height 75px

	.i_size_sm_50
		font-size 50px
		height 50px

@media (max-width 575.98px)
	.i_collapse
		font-size 15px
		height 15px
