.payment
  &__title
    font-size 18px
    font-weight 600
    text-align center
    text-transform uppercase
  &__list
    align-items center
    justify-content space-between
  &__item
    display flex
    justify-content center