.shadow
  box-shadow 0 0rem 1rem rgba(0, 0, 0, 0.15) !important
@media (min-width: 575.98px) and (max-width 991.98px)
  .shadow-md-hidden
    box-shadow: none !important

@media (min-width 576px)
  .shadow-xs-hidden
    box-shadow 0 0rem 1rem rgba(0, 0, 0, 0.15) !important