.share
  display flex
  justify-content center
  align-items center
  &__title
    font-size 24px
    font-weight 600
    text-transform uppercase
  & a:hover
    border-color $primaryh !important

@media (max-width 767.98px)
  .share
    &__title
      font-size 16px
    &__icon
      font-size 20px
      height 20px