.site-creator
  color $white
  text-align right
  &__link
    color $white
    text-decoration: underline
    &:hover
    &:focus
      color $white
      text-decoration: none

@media(max-width 767.98px)
  .site-creator
    text-align center