.sub-header
	font-size 12px
	text-transform uppercase
.sub-header__item
	display flex
	-webkit-align-items center
	align-items center
.sub-header__icon
	margin-right .5rem
@media(max-width 1199.98px)
	.sub-header__icon
		margin-right 0.25rem
@media(max-width 575.98px)
	.sub-header__item
		-webkit-flex-direction column
		-ms-flex-direction column
		flex-direction column