// color = #212121
// $font-size = 0.875rem //14px
// $font-size_sm = 0.5rem //12px
// $font-size_md = 1rem //16px
$border-color = #ddd
$border = 1px solid $border-color
$black = #000
$blue = #00549f
$indigo = #6610f2
$purple = #6f42c1
$pink = #e83e8c
$red = #e12424
$orange = #fd7e14
$yellow = #faca11
$green = #28a745
$teal = #20c997
$cyan = #17a2b8
$white = #fff
$gray = #e3e3e3
$gray-light = #f7f7f7
$gray-lighter = #7d7d7d
$gray-dark = #363636
$gray-darker = #9e9e9e


$focus = #a9bfd2
$outline = 2px solid $focus
$primaryh2 = $primary
$primary = #3bb274
$primaryh = #2a5e44
$primary-light = #e6eef6
$primary-light-hover = #717e89
$secondary = #a4a4a4
$success = #28a745
$info = #98c7f0
$warning = #ffc107
$danger = #e12424
$dangerh = #951a26
$light = #ffffff
$lighth = #d3d9df
$dark = #272727
$main = #212529
$vk = #3778b0
$twiiter = #5c9dd4
$facebook = #25649a
$ok = #d48927
$whatsap = #4cdb78
$mail = #424242

$dark-text = #191919
$shadow = 0 .5rem 1rem rgba(0,0,0,.15)
$shadow-lg = 0 1rem 3rem rgba(0,0,0,.175)
$shadow-md = 0px 0px 7px 0px rgba(0,0,0,0.125)
$shadow-sm = 0 .125rem .25rem rgba(0,0,0,.075)
$border-radius = 3px
$box-shadow = 0 0 0 0.2rem rgba(233, 250, 235, .25)
$box-shadow-primary = 0 0 0 0.2rem rgba(0, 84, 159, 0.5)
$box-shadow-light = 0 0 0 .2rem rgba(216,217,219,.5)

$tags = #e6eef6
$animation = all .25s ease
