$i
  display inline-block
  background-repeat no-repeat
  -webkit-background-size auto
  -o-background-size auto
  background-size auto

.i-img
  @extends $i


$name = '.i-img_lang-ar'
$name_pseudo = ''
$name_id = '.i-img_lang-ar'
$name_full = '.i-img_lang-ar'


if $name_pseudo
  {$name_full}
    background-image url(../images/png-sprite.png)
    background-position 0px 0px

else
  {$name_full}
    @extends $i
    background-image url(../images/png-sprite.png)
    background-position 0px 0px
    width 25px
    height 17px


$name = '.i-img_lang-de'
$name_pseudo = ''
$name_id = '.i-img_lang-de'
$name_full = '.i-img_lang-de'


if $name_pseudo
  {$name_full}
    background-image url(../images/png-sprite.png)
    background-position -45px 0px

else
  {$name_full}
    @extends $i
    background-image url(../images/png-sprite.png)
    background-position -45px 0px
    width 25px
    height 17px


$name = '.i-img_lang-ru'
$name_pseudo = ''
$name_id = '.i-img_lang-ru'
$name_full = '.i-img_lang-ru'


if $name_pseudo
  {$name_full}
    background-image url(../images/png-sprite.png)
    background-position 0px -37px

else
  {$name_full}
    @extends $i
    background-image url(../images/png-sprite.png)
    background-position 0px -37px
    width 25px
    height 17px


$name = '.i-img_lang-uk'
$name_pseudo = ''
$name_id = '.i-img_lang-uk'
$name_full = '.i-img_lang-uk'


if $name_pseudo
  {$name_full}
    background-image url(../images/png-sprite.png)
    background-position -45px -37px

else
  {$name_full}
    @extends $i
    background-image url(../images/png-sprite.png)
    background-position -45px -37px
    width 25px
    height 17px


$name = '.i-img_lang-us'
$name_pseudo = ''
$name_id = '.i-img_lang-us'
$name_full = '.i-img_lang-us'


if $name_pseudo
  {$name_full}
    background-image url(../images/png-sprite.png)
    background-position -90px 0px

else
  {$name_full}
    @extends $i
    background-image url(../images/png-sprite.png)
    background-position -90px 0px
    width 25px
    height 17px

